*.xcodeproj
of.entitlements
openFrameworks-Info.plist
Project.xcconfig

.vscode/browse*

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Eclipse
.metadata
local.properties

# Linux
*~

# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib

# Thumbnails
._*

# Windows
# Image file caches
Thumbs.db
# Folder config file

Desktop.ini
# Android
.csettings